body{
    width: 960px;
    margin: 0 auto;



}


.top {
    background-image: url("../fotos/bgsky3.jpg");
    height: 200px;
    position: relative;
    margin: 0;

}
.vliegtuig {
    float: right;
    position: absolute;
    right: 90px;
    bottom: 60px;
}
.hoofd {
    font-size: 300%;
    color: darkblue;
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;

}
.hoofd1 {
    font-size: 240%;
    font-weight: bold;
    color: darkblue;
    display: flex;
    justify-content: center;
  }
.news {
    background-color: #dddddd;
    border: 1px solid #999999;
    width: 250px;
    box-sizing: border-box;
    float: right;


;
}
h3{
    color: white;
    background-color: blue;
    font-size: 120%;
    display: flex;
    justify-content: center;
}
p{
margin: 10px;
}
.main {
    width: 700px;
    margin-right: 10px;

}
.introduction{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;

}
.logo {
    margin: 20px;
}
.container {
    display: flex;
    justify-content: flex-start;

}
.bottom {
    background-color: #666666;

}
.block{
    color: white;
    line-height: 2em;
    margin-left: 120px;
    float: right;

}
.a:hover{
    color: red;
    background-color: red;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: #999999;

}
.foto {
    width: 180px;
    height: 180px;
    padding: 10px;
    border: dashed 1px #999999;
    margin: 20px;
    margin-right: 10px;
    background-color: white;
}
.copy{
    display: flex;
    justify-content: center;
    color: black;
}