.checked{
    background-image: url("../images/tick.png");
    background-size: 15px 15px;
    background-position-x: 0;
    background-repeat: no-repeat;
    padding-left: 20px;
}
ul{list-style: none;}

li{
    background-image: url("../images/square.png");
    background-size: 15px 15px;
    background-position-x: 0;
    background-repeat: no-repeat;
    padding-left: 20px;
} h1 {
    color: #5e930c;
    font-size: 30px
  }
