body{
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../fotos/pagebackground.png");
    background-repeat: repeat-y;
    background-position: center;
    background-color: #e3e2e2;
    margin-top: -10px;
}

.top {
    background-image: url("../fotos/bgsky3.jpg");
    height: 200px;
    position: relative;

}
.vliegtuig {
    float: right;
    position: absolute;
    right: 90px;
    bottom: 60px;
}
.hoofd {
    font-size: 300%;
    color: darkblue;
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.hoofd1 {
    font-size: 240%;
    margin-top: 40px;
    font-weight: bold;
    color: darkblue;
    display: flex;
    justify-content: center;


}
.news {
    background-color: #dddddd;
    border: 1px solid #999999;
    width: 250px;
    box-sizing: border-box;
    float: right;

}
h3{
    color: white;
    background-color: blue;
    font-size: 120%;
    display: flex;
    justify-content: center;
}
p{
margin: 10px;
}
.main {
    width: 700px;
    margin-right: 10px;
    background-color: white;

}
.introduction{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;


}
.logo {
    margin: 20px;
    background-color: white;

}
.container {
    display: flex;
    justify-content: flex-start;
    background-color: white;

}
.bottom {
    background-color: #666666;
    display: flex;
    flex-wrap: wrap;

}
.block{
    color: white;
    line-height: 2em;
    margin-left: 120px;


}
.a:hover{
    color: red;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: #999999;

}
.foto {
    width: 180px;
    height: 180px;
    padding: 10px;
    border: dashed 1px #999999;
    margin: 20px;
    margin-right: 10px;
    background-color: white;
}
.copy{
    display: flex;
    justify-content: center;
    color: black;
}
span{
    font-weight: bold;
    font-style: italic;
    color: blue;
}